<div class="section form-box">
  <div class="button-box">
    <div class="btn" id="btn"></div>
    <button class="toggle-btn log-btn">Login</button>
    <button class="toggle-btn sign-btn">Signup</button>
  </div>
  <form id="login" class="input-group login-form">
    <input
      type="text"
      class="input-field email-login"
      id="input-username-login"
      placeholder="Email"
      required
    />
    <input
      type="password"
      class="input-field password-login"
      id="input-password-login"
      placeholder="Enter Password"
      required
    />
    <input type="checkbox" class="checkbox" /><span>Remember Password</span>
    <button type="submit" class="submit-btn login-btn">Log In</button>
  </form>
  <form id="register" class="input-group signup-form">
    <input
      type="text"
      class="input-field username-signup"
      id="input-username-signup"
      placeholder="Username"
      required
    />
    <input
      type="email"
      class="input-field email-signup"
      id="input-email"
      placeholder="Email"
      required
    />
    <input
      type="password"
      class="input-field password-signup"
      id="input-password-signup"
      placeholder="Enter Password"
      required
    />
    <input type="checkbox" class="checkbox" /><span>I agree to the terms and
      conditions</span>
    <button type="submit" class="submit-btn signup-btn">Signup</button>
  </form>
</div>
<script src="../public/js/login.js">
</script>